/**
 *
 * Hey. My name's Sirius Chen. I'm an software engineer.
 *
 * It seems that you are interested in how i made my resume.
 *
 * Here we go!
 *
 * It's an live coding!
 */

/**
 * We start by animating... well, everything.
 */

* {
  transition: all 1s;
}

/**
 * Uha, nothing happends. But you'll see next.
 *
 * Working in this big empty space is tough.
 *
 * We gonna to make an simple editor.
 *
 */

.editor {
  height: 100%;
  width: 100%;
  background: #303030;
  border: 1px solid #ccc;
  color: white;
  font-size: 14px;
  overflow: auto;
  font-family: monospace;
  padding: 10px 10px 20px;
  white-space: pre-wrap;
  outline: 0;
}

/**
 * Looks a little different, right?
 * 
 * But we have to go further.
 */

.comment {
  color: #857f6b;
  font-style: italic;
}
.selector {
  color: #d7ba7d;
}
.key {
  color: #9cdcfe;
}
.value {
  color: #ce9178;
}
.value .unit {
  color: #f92772;
}

/**
 * The editor fills the entire screen.
 *
 * But we need other places to show our main content.
 * 
 * We have to do something like this.
 */

.editor {
  width: 50%; /*reset the width*/
}

.work {
  width: 50%;
  height: 100%;
  overflow: auto;
}

/**
 * The simple editor is done.
 *
 * we turn our eyes to the right part
 *
 * I wirte my resume in markdown (with some html),
 * 
 * which can be easily tranfered to html.
 */
