/**
 *
 * Hey. My name's Sirius Chen. I'm an software engineer.
 *
 * It seems that you are interested in how i made my resume.
 *
 * Here we go!
 *
 * It's an live coding!
*/

/**
 * We start by animating... well, everything.
*/
* {
  transition: all 1s;
}

/**
 * Uha, nothing happends. But you'll see next.
 *
 * Working in this big empty space is tough.
 *
 * We are more familiar with some editor like sublime or vscode.
 *
 * Let's make it.
*/
.editor {
  background: #303030;
  border: 1px solid #ccc;
  color: white;
  font-size: 14px;
  height: 100%;
  overflow: auto;
  font-family: monospace;
  padding: 10px 10px 20px;
  white-space: pre-wrap;
  outline: 0;
}

/**
 * This is good, but all the text is white!
 * Let's make it even more readable.
*/
.comment {
  color: #857f6b;
  font-style: italic;
}

.selector {
  color: #d7ba7d;
}

.key {
  color: #9cdcfe;
}

.value {
  color: #ce9178;
}
.value .unit {
  color: #f92772;
}

/**
 * Okay. We're going to start filling up the screen.
 * Let's get ready to do some work.
*/
.editor {
  height: 50%;
  transform: translateY(100%);
}

.work {
  height: 50%;
  transform: translateY(-100%);
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
}

/**
 * The editor is done, let's make the main content of our resume.
 *
 * I wirte my resume in markdown (with some html), and it can be easily tranfered to html
 * 
*/