/**
 * The resume looks not good.
 *
 * We need to add some style.
 */
.work {
  box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  line-height: 20px;
  /* letter-spacing: 1px; */
}
.work h2 {
  padding: 5px;
  border-bottom: 1px solid #000;
}
.work h1 span {
  font-size: 1em;
}
.work a {
  text-decoration: none;
}
.work ul:nth-of-type(1),
.work ul:nth-of-type(2),
.work ul:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
}
.work ul:nth-of-type(1) > li,
.work ul:nth-of-type(2) > li {
  width: 50%;
  padding: 5px;
}

.work ul:nth-of-type(3) > li {
  width: 100%;
  padding: 5px;
}
.work ul:nth-of-type(3) span {
  margin-right: 2.5rem;
}

/* Then, we hide our simple editor.
 *
 * And resize the resume content.
 */
.editor {
  display: none;
}
.work {
  width: 100%;
}

/**
  * Everything is done !
  * 
  * This project is inspired by Samuel Reed's resume (https://www.strml.net).
  * 
  * I rewirte it with React.
  * 
  * If you're interested, you can get project in https://github.com/EscapeB/resume.
  * 
  * Edit and make your own resume :)
  */
