.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.controller {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  i,
  .iconfont {
    margin: 5px;
    font-size: 1.5rem;
  }
  i:hover {
    color: #1890ff;
  }
}
#root {
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.work {
  height: 0;
}
// icons
@font-face {
  font-family: 'iconfont'; /* project id 1431277 */
  src: url('//at.alicdn.com/t/font_1431277_33ehxf4nfao.eot');
  src: url('//at.alicdn.com/t/font_1431277_33ehxf4nfao.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1431277_33ehxf4nfao.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1431277_33ehxf4nfao.woff') format('woff'),
    url('//at.alicdn.com/t/font_1431277_33ehxf4nfao.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1431277_33ehxf4nfao.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
